:global(.ant-layout-footer).footer {
  background-color: var(--secondary-bg);
  color: var(--text);
  height: 4rem;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

:global(.anticon).footer-logo {
  font-size: 2rem;
  color: var(--text);
}

img.footer-logo {
  width: 2rem;
  border-radius: 50%;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.5;
}
