:global(.ant-layout-header).header {
  background-color: var(--secondary-bg);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  transition: backgroud-color 0.3s ease;
}

.logo {
  font-weight: 700;
  letter-spacing: 0.1em;
}

:global(.ant-layout-header).sticky {
  background-color: var(--secondary-bg-sticky);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
